<!DOCTYPE html>
<html>
<head>
 <title>Registration Form</title>
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script>
    
    //defining module
    var myapp = angular.module('myapp', []);
     
    //creating custom directive
    myapp.directive('ngCompare', function () {
     return {
     require: 'ngModel',
     link: function (scope, currentEl, attrs, ctrl) {
     var comparefield = document.getElementsByName(attrs.ngCompare)[0]; //getting first element
     compareEl = angular.element(comparefield);
     
     //current field key up
     currentEl.on('keyup', function () {
     if (compareEl.val() != "") {
     var isMatch = currentEl.val() === compareEl.val();
     ctrl.$setValidity('compare', isMatch);
     scope.$digest();
     }
     });
     
     //Element to compare field key up
     compareEl.on('keyup', function () {
     if (currentEl.val() != "") {
     var isMatch = currentEl.val() === compareEl.val();
     ctrl.$setValidity('compare', isMatch);
     scope.$digest();
     }
     });
     }
     }
    });
     
    // create angular controller
    myapp.controller('mainController', function ($scope,$http,$window) {
     
     $scope.typeList = [
     { TypeId: 1, Name: 'Student' },
     { TypeId: 2, Name: 'Professor' }
     ];
     
     // function to submit the form after all validation has occurred 
     $scope.submitForm = function () {
     
     // Set the 'submitted' flag to true
     $scope.submitted = true;
     $scope.userid = {};
     
     
     $scope.try_reg = function() {
        if ($scope.userForm.$valid) {
        console.log($scope.user);
      $http.post('http://localhost:8000/create', $scope.user)
        .then(
          //login success
          function(response){
                console.log(response.data);
                if (response.data.result == "success"){
                    $scope.userid = response.data.userid;
                    $window.location.href = 'http://localhost:8000';
                }else {
                    alert(response.data.reason);
                }
          },
          //login fail
          function(){
            alert("send failure");
          }
      );
    }
     }
     // else {
     // alert("Please correct errors!");
     // }
     };
    });
</script>
</head>
<body ng-app="myapp" ng-controller="mainController">
 <div class="panel panel-info">
 <div class="col-sm-8 col-sm-offset-2">
 
 <!-- PAGE HEADER -->
 <div class="panel panel-info">
    <div align="center" class="panel-heading">Registration Form</div>
 </div>
 
     <!-- FORM : YOU CAN DISABLE, HTML5 VALIDATION BY USING "novalidate" ATTRIBUTE-->
     <form name="userForm" ng-submit="submitForm()" novalidate>
     
         <!-- NAME -->
         <div class="form-group" ng-class="{ 'has-error' : (userForm.firstname.$invalid && (userForm.firstname.$dirty || submitted)) || (userForm.lastname.$invalid && (userForm.last.$dirty || submitted)) }">
         <label>First Name:</label>
         <input type="text" name="firstname" class="form-control" ng-model="user.firstname" placeholder="Your First Name" ng-required="true">
        <label>Last Name:</label>
         <input type="text" name="lastname" class="form-control" ng-model="user.lastname" placeholder="Your Last Name" ng-required="true">
         <p ng-show="(userForm.firstname.$error.required && (userForm.firstname.$dirty || submitted))||(userForm.lastname.$error.required && (userForm.lastname.$dirty || submitted))" class="help-block">You name is required.</p>
         </div>
         
         <!-- EMAIL -->
         <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && (userForm.email.$dirty || submitted)}">
         <label>Email:</label>
         <input type="email" name="email" class="form-control" ng-model="user.email" placeholder="Your Email Address" ng-required="true">
         <p ng-show="userForm.email.$error.required && (userForm.email.$dirty || submitted)" class="help-block">Email is required.</p>
         <p ng-show="userForm.email.$error.email && (userForm.email.$dirty || submitted)" class="help-block">Enter a valid email.</p>
         </div>
         
         <!-- PASSWORD -->
         <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && (userForm.password.$dirty || submitted)}">
         <label>Password:</label>
         <input type="Password" name="password" class="form-control" ng-model="user.password" placeholder="Your Password" ng-required="true">
         <p ng-show="userForm.password.$error.required && (userForm.password.$dirty || submitted)" class="help-block">Your password is required.</p>
         </div>
         
         <!-- CONFIRM PASSWORD -->
         <div class="form-group" ng-class="{ 'has-error' : userForm.confirmPassword.$invalid && (userForm.confirmPassword.$dirty || submitted)}">
         <label>Confirm Password:</label>
         <input type="Password" name="confirmPassword" class="form-control" ng-model="user.confirmPassword" placeholder="Confirm Your Password" ng-compare="password" ng-required="true">
         <p ng-show="userForm.confirmPassword.$error.required && (userForm.confirmPassword.$dirty || submitted)" class="help-block">Your confirm password is required.</p>
         <p ng-show="userForm.confirmPassword.$error.compare && (userForm.confirmPassword.$dirty || submitted)" class="help-block">Confirm password doesnot match.</p>
         </div>
         
         <!-- Account Type -->
         <div class="form-group" ng-class="{ 'has-error' : userForm.type.$invalid && (userForm.type.$dirty || submitted)}">
         <label>Account Type:</label>
         <select name="type" class="form-control"
         ng-model="user.isProf"
         ng-options="type.TypeId as type.Name for type in typeList"
         ng-required="true">
         <option value=''>Select</option>
         </select>
         <p ng-show="userForm.type.$error.required && (userForm.type.$dirty || submitted)" class="help-block">Select type.</p>
         </div>
         
         <!-- ng-disabled FOR ENABLING AND DISABLING SUBMIT BUTTON -->
         <!--<button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Register</button>-->
         <button type="submit" ng-click="try_reg(user)" class="btn btn-primary">Register</button>
         <button type="button" class="btn btn-default" style="background-color: #f44336; color: white;" onclick="location.href='http://localhost:8000/';">Back</button>
     </form>
 </div>
 </div>
</body>
</html>